# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc.)
local.properties

# Log files
*.log

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.navigation/

# Keystores and sign files
*.keystore
*.jks
*.pepk

# Built artifacts
*.apk
*.aar
*.ap_
*.aab

# OS files
.DS_Store
Thumbs.db
